@using MvcKutuphane.Models.Entity
@model List<TBLDUYURULAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    string renk = "";
}

<h2>Duyurular</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>DUYURU NO</th>
            <th>KATEGORİ</th>
            <th>İÇERİK</th>
            <th>TARİH</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.KATEGORI =="YENI KITAP")
            {
                renk = "color:blueviolet";
            }
            if (item.KATEGORI == "KITAPLARI GECIKTIRMEYIN")
            {
                renk = "color:blue";
            }
            if (item.KATEGORI == "ILETISIM")
            {
                renk = "color:khaki";
            }
            if (item.KATEGORI == "DIGER")
            {
                renk = "color:tomato";
            }


            <tr>
                <td> @item.ID</td>
                <td style=@renk><b>@item.KATEGORI</b></td>
                <td><a href="/Duyuru/DuyuruDetay/@item.ID"><img src="~/web/img/duyuru1.png" width="50"/></a></td>
                <td>@(Convert.ToDateTime(item.TARIH).ToString("dd/MM/yyyy"))</td>
                <td class="text-center"> <a href="/Duyuru/DuyuruSil/@item.ID" class="btn btn-danger">Sil</a> </td>
                <td class="text-center">  </td>

            </tr>
        }
    </tbody>

</table>
<a href="/Duyuru/DuyuruEkle/" class="btn btn-success">Yeni Duyuru Ekle</a>
