
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 230px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 16px;
        }

            .sidebar a {
                padding: 12px 8px 6px 16px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
            }

                .sidebar a:hover {
                    color: #0094ff;
                }

        .main {
            margin-left: 230px; /* Same as the width of the sidenav */
            padding: 0px 10px;
        }

        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="/Istatistik/Index/" class="text-decoration-none"> <i class="glyphicon glyphicon-home"></i> &nbsp; Ana Sayfa </a>
        <a href="/Kategori/Index/" class="text-decoration-none"> <i class="glyphicon glyphicon-list"></i> &nbsp; Kategoriler </a>
        <a href="/Kitap/Index/" class="text-decoration-none"> <i class="glyphicon glyphicon-book"></i> &nbsp; Kitaplar </a>
        <a href="/Yazar/Index" class="text-decoration-none"> <i class="glyphicon glyphicon-pencil"></i> &nbsp; Yazarlar </a>
        <a href="/Uye/Index" class="text-decoration-none"> <i class="glyphicon glyphicon-user"></i> &nbsp; Üyeler </a>
        <a href="/Personel/Index" class="text-decoration-none"> <i class="glyphicon glyphicon-tower"></i> &nbsp; Personeller </a>
        <a href="/Odunc/OduncVer/" class="text-decoration-none"> <i class="glyphicon glyphicon-circle-arrow-right"></i> &nbsp; Ödünç Kitap Ver </a>
        <a href="/Odunc/Index/" class="text-decoration-none"> <i class="glyphicon glyphicon-circle-arrow-left"></i> &nbsp; Ödünç Kitap Al </a>
        <a href="/Islem/Index" class="text-decoration-none"> <i class="glyphicon glyphicon-dashboard"></i> &nbsp; İşlemler </a>
        <a href="/Istatistik/Galeri" class="text-decoration-none"><i class="glyphicon glyphicon-picture"></i> &nbsp; Galeri </a>
        <a href="#" class="text-decoration-none"> <i class="glyphicon glyphicon-gift"></i> &nbsp; Vitrin </a>
         <a href="/Istatistik/Index" class="text-decoration-none"> <i class="glyphicon glyphicon-sort"></i> &nbsp; İstatistikler </a>
         <a href="/Duyuru/Index/" class="text-decoration-none"> <i class="glyphicon glyphicon-earphone"></i> &nbsp; Duyurular </a>
         <a href="/Istatistik/linqkart/" class="text-decoration-none"> <i class="glyphicon glyphicon-usd"></i> &nbsp; Linq Kartlar </a>
         <a href="/Istatistik/Hava" class="text-decoration-none"> <i class="glyphicon glyphicon-cloud"></i> &nbsp; Hava Raporu </a>
         <a href="/Istatistik/Havakart" class="text-decoration-none"> <i class="glyphicon glyphicon-plus"></i> &nbsp; Hava Kartları </a>
        <a href="#" class="text-decoration-none"> <i class="glyphicon glyphicon-cog"></i> &nbsp; Ayarlar </a>
        <a href="#" class="text-decoration-none"> <i class="glyphicon glyphicon-phone"></i> &nbsp; Yardım </a>
        <a href="#" class="text-decoration-none"> <i class="glyphicon glyphicon-remove-sign"></i> &nbsp; Çıkış </a>


    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>

