@using MvcKutuphane.Models.Entity
@model List<TBLKATEGORİ>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kategoriler</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th colspan="2" class="text-center">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.AD</td>
                <td class="text-center"> <a href="/Kategori/KategoriSil/@item.ID" class="btn btn-danger">Sil</a> </td>
                <td class="text-center"> <a href="/Kategori/KategoriGetir/@item.ID" class="btn btn-success">Güncelle</a> </td>
                
            </tr>
        }
    </tbody>
   

</table>
<a href="/Kategori/KategoriEkle/" class="btn btn-success">Yeni Kategori Ekle</a>