@using MvcKutuphane.Models.Entity

@model List<TBLHAREKET>

@{

    ViewBag.Title = "Kitaplarim";

    Layout = "~/Views/Shared/_LayoutPanel.cshtml";

}



<!DOCTYPE html>

<html>

<body class="hold-transition sidebar-mini">

    <section class="content">

        <div class="container-fluid">


            <div class="card">
                <div class="card-header text-center">
                    <h2>Kitap Geçmişi</h2>
                </div>
                <div class="card-body">
                    <div class="row">


                        <div class="tab-pane" id="timeline">

                            <!-- The timeline -->

                            <div class="timeline timeline-inverse">

                                <!-- timeline time label -->

                                @foreach (var item in Model)

                                {

                                    <div class="time-label">

                                        <a class="btn btn-success">

                                            <span class="bg-success">

                                                @(((DateTime)item.ALISTARIH).ToString("dd-MMM-yyyy"))

                                            </span>

                                        </a>

                                        -----

                                        <a class="btn btn-warning">

                                            <span class="bg-warning">

                                                @(((DateTime)item.UYEGETIRTARIH).ToString("dd-MMM-yyyy"))

                                            </span>

                                        </a>

                                    </div>




                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->

                                    <div>

                                        @*<i class="fas fa-comment bg-primary"></i>*@

                                        <div class="timeline-item">

                                            <div class="timeline-body">

                                                @item.TBLKİTAP.AD

                                            </div>

                                            @*<div class="timeline-footer">

                                                    <a href="#" class="btn btn-primary btn-sm">Düzenle</a>

                                                    <a href="#" class="btn btn-danger btn-sm">Sil</a>

                                                </div>*@

                                        </div>

                                    </div>

                                }

                            </div>
                            @*<a href="/Sertifika/YeniSertifika" class="btn btn-info">Yeni Sertifika Girişi</a>*@


                        </div>


                    </div>
                </div>




















            </div>

            <!-- /.col -->
        </div>

    </section>

</body>

</html>