@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Kitaplarım";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Kitap Geçmişim</h2>
<table class="table table-bordered">
    <thead>
        <tr>

            <th>KİTAP ADI</th>
            <th>ALIŞ TARİHİ</th>
            <th>ÜYE İADE TARİHİ</th>
            <th>DETAYLAR</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TBLKİTAP.AD</td>
                    <td>@Convert.ToDateTime(item.ALISTARIH).ToString("dd/MM/yyyy")</td>
                    <td>@Convert.ToDateTime(item.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>                 
                </tr>
            }
        </tbody>
</table>
