@using MvcKutuphane.Models.Entity
@model List<TBLMESAJLAR>
@{
    ViewBag.Title = "Giden";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<div class="box box-success mt-3">
    <div class="box-header">
        <i class="fa fa-comments-o"></i>
        <h3 class="box-title">Gönderilen Mesajlar</h3>

    </div>
    <div class="box-body chat mt-3" id="chat-box">
        <!-- chat item -->
        @foreach (var item in Model)
        {
            <div class="item mt-4">
                <img src="~/AdminLTE/AdminLTE-2.2.0/dist/img/user1-128x128.jpg" alt="user image" class="online" />
                <p class="message">
                    <a href="#" class="name">
                        <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> @(Convert.ToDateTime(item.TARIH).ToString("dd/MM/yyyy"))</small>
                        @item.ALICI
                    </a>
                    @item.KONU
                </p>
                <div class="attachment">
                    <h4>Mesaj:</h4>
                    <p class="filename">
                        @item.ICERIK
                    </p>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-sm btn-flat">Open</button>
                    </div>
                </div><!-- /.attachment -->
            </div><!-- /.item -->
            <!-- chat item -->
        }
    </div><!-- /.chat -->

</div><!-- /.box (chat box) -->
<!-- quick email widget -->