@using MvcKutuphane.Models.Entity
@model List<TBLMESAJLAR>
@{
    ViewBag.Title = "Giden";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Gönderilen Mesajlar</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ALICI</th>
            <th>Konu</th>
            <th>Mesaj</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ALICI</td>
                <td>@item.KONU</td>
                <td>@item.ICERIK</td>
                <td>@item.TARIH</td>
            </tr>
        }

    </tbody>
</table>