
@{
    ViewBag.Title = "YeniMesaj";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Mesajlar sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>İşlem</th>   
    </tr>
</table>