
@{
    ViewBag.Title = "YeniMesaj";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
</head>
<body>

    <h3>MESAJ GÖNDER</h3>

    <div class="container">
        <form action="/Mesaj/YeniMesaj/" method="post">
            <label for="fname">Gönderen</label>
            <input type="text" id="fname" name="GONDEREN" value="@Session["Mail"].ToString()">

            <label for="lname">Alıcı</label>
            <input type="text" id="lname" name="ALICI" placeholder="Kime mesaj göndermek istiyorsunuz?">

            <label for="lname">Konu</label>
            <input type="text" id="lname" name="KONU" placeholder="Konuyu belirleyiniz">

            <label for="subject">Mesaj</label>
            <textarea id="subject" name="ICERIK" placeholder="Mesajınızı giriniz" style="height:200px"></textarea>
            <input type="hidden" name="TARIH" value="@DateTime.Now.ToShortDateString()" />
            <input type="submit" value="Gönder">
        </form>
    </div>

</body>
</html>
