@using MvcKutuphane.Models.Entity;
@model List<TBLYAZAR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazarlar</h2>

<table class="table table-striped">
    <thead>
        <tr style="background-color:rgb(252,178,22)">
            <th>ID</th>
            <th>AD</th>
            <th>SOYAD</th>
            <th>DETAY</th>
            <th>KİTAPLAR</th>
            <th class="text-center" colspan="2">İŞLEMLER</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.AD</td>
                <td>@item.SOYAD</td>
                <td>@item.DETAY</td>
                <td><a href="/Yazar/YazarKitaplar/@item.ID"><img src="~/web/img/kitap.png" width="40" /></a></td>
                <td>
                    <a href="/Yazar/YazarSil/@item.ID" , onclick="return confirm('Silmek istiyor musunuz?')">
                        <img src="~/web/img/delete.png" width="40" />
                    </a>
                </td>
                <td>
                    <a href="/Yazar/YazarGetir/@item.ID">
                        <img src="~/web/img/edit.jpg" width="40" />
                    </a>
                </td>


            </tr>
        }

    </tbody>

</table>
<a href="/Yazar/YazarEkle/" class="btn btn-success">Yeni Yazar Ekle</a>