@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personeller</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>PERSONEL ID</th>
            <th>PERSONEL ADI</th>
            <th class="text-center" colspan="2">İŞLEMLER</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.PERSONEL</td>
             
                <td class="text-center">@Html.ActionLink("Sil", "PersonelSil", new { id = item.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyor musunuz?')" })</td>
                <td class="text-center"><a href="/Personel/PersonelGetir/@item.ID" class="btn btn-success">Güncelle</a></td>

            </tr>
        }

    </tbody>

</table>
<a href="/Personel/PersonelEkle/" class="btn btn-success">Yeni Personel Ekle</a>